# **Control Flow:**
Welcome to this lesson on Control Flow! Control flow is the sequence in which your code is run helping you in decision making. Here, we'll learn about several tools in Python we can use to affect our code's control flow:

* Conditional Statements
* Boolean Expressions
* For and While Loops
* Break and Continue
* Zip and Enumerate
* List Comprehensions

## **Conditional If Statements:**

Sometimes we need to run a line of code only if a particular condition is true.
For example suppose that you have subscribed to a sharebike rental service.

Lets look at its pay as you use billing system. The app contains a credit balance which then the user can use to rent the bikes.

The customer can then setup a link to their bank account so that if their phone credit balance goes below a particular threshold amountm, in this case Rs.100, then Rs.500 in credit is then added from their bank account.

this can be represented as in below:

```
if bikeapp_balance < 100:
  bikeapp_balance += 500
  bank_balance -= 500
```

In [ ]:
bikeapp_balance = 99
bank_balance = 1000

print(bikeapp_balance, bank_balance)

if(bikeapp_balance<100):
  bikeapp_balance += 500
  bank_balance -= 500

print(bikeapp_balance, bank_balance)

99 1000
599 500

- An *if* statement starts with the *if* keyword, followed by the condition to be checked, in this case *bikeapp_balance* < 100, and then a colon. The condition is specified in a boolean expression that evaluates to either *True* or *False*.

- After this line is an indented block of code to be executed if that condition is true. Here, the lines that increment *bikeapp_balance* and decrement *bank_balance* only execute if it is true that *bikeapp_balance* is less than 100. If not, the code in this if block is simply skipped.

> You have learned about Python's comparison operators (e.g. == and !=) and how they are different from assignment operators (e.g. =). In conditional statements, you want to use comparison operators. For example, you'd want to use if x == 5 rather than if x = 5. If your conditional statement is causing a syntax error or doing something unexpected, check whether you have written == or =!

## **Conditional If Else Statements:**

Else helps us to execute a diffrent block of code when a particular condition is not true or even for multiple other conditions diffrent from the *if()* condition.

Lets see it in action using an example:

In [ ]:
n=4

if (n%2 == 0):
  print("Number " + str(n) + " is even.")
else:
  print("Number " + str(n) + " is odd.")

Number 4 is even.

> if you have more than 2 possible cases then you can also use *elif()*. Lets look at an example:

In [ ]:
season = 'fall'

if season == 'spring':
    print('plant the garden!')
elif season == 'summer':
    print('water the garden!')
elif season == 'fall':
    print('harvest the garden!')
elif season == 'winter':
    print('stay indoors!')
else:
    print('unrecognized season')

harvest the garden!

### **Summarize If, Elif, Else:**

1. **if:** An *if* statement must always start with an *if* clause, which contains the first condition that is checked. If this evaluates to *True*, Python runs the code indented in this *if* block and then skips to the rest of the code after the *if* statement.

2. **elif:** *elif* is short for "else if." An *elif* clause is used to check for an additional condition if the conditions in the previous clauses in the *if* statement evaluate to *False*. As you can see in the example, you can have multiple *elif* blocks to handle different situations.

3. **else:** Last is the *else* clause, which must come at the end of an *if* statement if used. This clause doesn't require a condition. The code in an else block is run if all conditions above that in the *if* statement evaluate to *False*.

## **Ouestion**:

Write an if statement that lets a student know which of these grades they got based on the number they got in exams, which is stored in the integer variable *marks*.

Marks -> Grade

100-90 -> A+

90-80 -> A

80-70 -> B

70-60 -> C

60-50 -> D

50-40 -> E

<40 -> F

> All of the lower and upper bounds here are inclusive, and marks can only take on positive integer values up to 100.

In your if statement, assign the result variable to a string holding the appropriate message based on the value of marks.

"you have scored *[Grade]* Grade."

In [ ]:
marks = 60  # use this input to make your submission

# write your if statement here


print(result)

## **Question:**

Depending on where an individual is from we need to tax them appropriately. The states of CA, MN, and NY have taxes of 7.5%, 9.5%, and 8.9% respectively. Use this information to take the amount of a purchase and the corresponding state to assure that they are taxed by the right amount.

In [ ]:
state = #Either CA, MN, or NY
purchase_amount = #amount of purchase

if #provide conditional for checking state is CA
    tax_amount = .075
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif #provide conditional for checking state is MN
    tax_amount = .095
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif #provide conditional for checking state is NY
    tax_amount = .089
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

print(result)

## **Complex Boolean Expressions:**

*If* statements sometimes use more complicated boolean expressions for their conditions. They may contain multiple comparisons operators, logical operators, and even calculations. Examples:

```
if 18.5 <= (weight / height**2) < 25:
    print("BMI is considered 'normal'")

if is_raining and is_sunny:
    print("Is there a rainbow?")

if (not unsubscribed) and (location == "USA" or location == "IND"):
    print("send email")
```

For really complicated conditions you might need to combine some *ands*, *ors* and *nots* together. Use parentheses if you need to make the combinations clear.

However simple or complex, the condition in an *if* statement must be a boolean expression that evaluates to either *True* or *False* and it is this value that decides whether the indented block in an *if* statement executes or not.

## **Good and Bad Examples:**

Here are some things to keep in mind while writing boolean expressions for your *if* statements.

### **1. Don't use True or False as conditions:**
While "*True*" is a valid boolean expression, it's not useful as a condition since it always evaluates to *True*, so the indented code will always get run. Similarly, *if False* is not a condition you should use either - the statement following this *if* statement would never be executed.

```
# Bad example
if True:
    print("This indented code will always get run.")
```

Similarly, it's useless to use any condition that you know will always evaluate to *True*, like this example above. A boolean variable can only be *True* or *False*, so either *is_cold* or *not is_cold* is always *True*, and the indented code will always be run.

```
# Another bad example
if is_cold or not is_cold:
    print("This indented code will always get run.")
```

### **2. Be careful writing expressions that use logical operators:**

Logical operators *and*, *or* and *not* have specific meanings that aren't quite the same as their meanings in plain English. Make sure your boolean expressions are being evaluated the way you expect them to.
```
# Bad example
if weather == "snow" or "rain":
    print("Wear boots!")
```
This code is valid in Python, but it is not a boolean expression, although it reads like one. The reason is that the expression to the right of the or operator, "rain", is not a boolean expression - it's a string! Later we'll discuss what happens when you use non-boolean-type objects in place of booleans.

### **3. Don't compare a boolean variable with == True or == False:**
This comparison isn’t necessary, since the boolean variable itself is a boolean expression.
```
# Bad example
if is_cold == True:
    print("The weather is cold!")
```
This is a valid condition, but we can make the code more readable by using the variable itself as the condition instead, as below.
```
# Good example
if is_cold:
    print("The weather is cold!")
```
> If you want to check whether a boolean is False, you can use the not operator.

## **Truth Value Testing:**

If we use a non-boolean object as a condition in an *if* statement in place of the boolean expression, Like in the 2nd example above, Python will check for its truth value and use that to decide whether or not to run the indented code. By default, the truth value of an object in Python is considered True unless specified as False in the documentation.

Here are most of the built-in objects that are considered False in Python:

- constants defined to be false: *None* and *False*
- zero of any numeric type: *0, 0.0, 0j, Decimal(0), Fraction(0, 1)*
- empty sequences and collections: *'' , "", (), [], {}, set(), range(0)*

In [ ]:
errors = 3
if errors:
    print("You have {} errors to fix!".format(errors))
else:
    print("No errors to fix!")

You have 3 errors to fix!

> In this code, errors has the truth value True because it's a non-zero number, so the error message is printed. This is a nice, succinct way of writing an if statement.

### **Ouestion:**
Imagine an air traffic control program that tracks three variables, *altitude*, *speed*, and *propulsion* which for a particular airplane have the values specified below.
```
altitude = 10000
speed = 250
propulsion = "Propeller"
```
For each of the following boolean expressions, work out whether it evaluates to True or False and match the correct value.

-  altitude < 1000 and speed > 100
- (propulsion == "Jet" or propulsion == "Turboprop") and speed < 300 and altitude > 20000
- not (speed > 400 and propulsion == "Propeller")
- (altitude > 500 and speed > 100) or not propulsion == "Propeller"

In [ ]:
altitude = 10000
speed = 250
propulsion = "Propeller"

# write your code here

## **For Loops:**

Python has two kinds of loops - for loops and while loops. A for loop is used to "iterate", or do something repeatedly, over an iterable.

An iterable is an object that can return one of its elements at a time. This can include sequence types, such as strings, lists, and tuples, as well as non-sequence types, such as dictionaries and files.

Example:

In [ ]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city)
print("Done!")

new york city
mountain view
chicago
los angeles
Done!

### **Components of a for Loop:**
1. The first line of the loop starts with the *for* keyword, which signals that this is a *for* loop
2. Following that is *city in cities*, indicating *city* is the iteration variable, and *cities* is the iterable being looped over. In the first iteration of the loop, *city* gets the value of the first element in *cities*, which is “new york city”.
3. The *for* loop heading line always ends with a colon *:*
4. Following the *for* loop heading is an indented block of code, the body of the loop, to be executed in each iteration of this loop. There is only one line in the body of this loop - *print(city)*.
5. After the body of the loop has executed, we don't move on to the next line yet; we go back to the for heading line, where the iteration variable takes the value of the next element of the iterable. In the second iteration of the loop above, *city* takes the value of the next element in *cities*, which is "mountain view".
6. This process repeats until the loop has iterated through all the elements of the iterable. Then, we move on to the line that follows the body of the loop - in this case, *print("Done!")*. We can tell what the next line after the body of the loop is because it is unindented. Here is another reason why paying attention to your indentation is very important in Python!

> You can name iteration variables however you like. A common pattern is to give the iteration variable and iterable the same names, except the singular and plural versions respectively (e.g., 'city' and 'cities').

## **Using the *range()* Function with for Loops:**
*range()* is a built-in function used to create an iterable sequence of numbers. You will frequently use *range()* with a for loop to repeat an action a certain number of times, as in this example:

In [ ]:
for i in range(3):
    print("Hello!")

Hello!
Hello!
Hello!

## **range(start=0, stop, step=1)**
The range() function takes three integer arguments, the first and third of which are optional:

- The 'start' argument is the first number of the sequence. If unspecified, 'start' defaults to 0.
- The 'stop' argument is 1 more than the last number of the sequence. This argument must be specified.
- The 'step' argument is the difference between each number in the sequence. If unspecified, 'step' defaults to 1.


Notes on using range():

- If you specify one integer inside the parentheses withrange(), it's used as the value for 'stop,' and the defaults are used for the other two. Example-

In [ ]:
for i in range(4):
  print(i)

0
1
2
3

- If you specify two integers inside the parentheses withrange(), they're used for 'start' and 'stop,' and the default is used for 'step.' Example-

In [ ]:
for i in range(2, 6):
  print(i)

2
3
4
5


- Or you can specify all three integers for 'start', 'stop', and 'step.' Example-

In [ ]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

## **Creating and Modifying Lists:**
In addition to extracting information from lists, as we did in the first example above, you can also create and modify lists with *for* loops. You can **create** a list by appending to a new list at each iteration of the for loop like this:

In [ ]:
# Creating a new list
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
capitalized_cities = []

for city in cities:
    capitalized_cities.append(city.title())

In [ ]:
for cap_city in capitalized_cities:
  print(cap_city)

New York City
Mountain View
Chicago
Los Angeles

**Modifying** a list is a bit more involved, and requires the use of the *range()* function.

We can use the *range()* function to generate the indices for each value in the cities list. This lets us access the elements of the list with *cities[index]* so that we can modify the values in the cities list in place.

In [ ]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']

for index in range(len(cities)):
    cities[index] = cities[index].title()

In [ ]:
for city in cities:
    print(city)

New York City
Mountain View
Chicago
Los Angeles

### **Question:**
Write a for loop below that will print out every whole number that is a multiple of 5 and less than or equal to 30.

In [ ]:
# Write a for loop using range() to print out multiples of 5 up to 30 inclusive

for i in range(5, 35, 5):
    print(i)

5
10
15
20
25
30

### **Question:**
Write a for loop that iterates over the names list to create a usernames list. To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:
```
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
```
should create the list:

```
usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]
```

> HINT: Use the *.replace()* method to replace the spaces with underscores. Check out how to use this method in this [Stack Overflow answer](https://stackoverflow.com/questions/12723751/replacing-instances-of-a-character-in-a-string/12723785#12723785).

In [ ]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

# write your for loop here


print(usernames)

### **Question:**
Write a for loop that iterates over a list of strings, tokens, and counts how many of them are XML tags. 

> XML is a data language similar to HTML. You can tell if a string is an XML tag if it begins with a left angle bracket "<" and ends with a right angle bracket ">". 

Keep track of the number of tags using the variable count.

You can assume that the list of strings will not contain empty strings.

In [ ]:
tokens = ['<greeting>', 'Hello World!', '</greeting>']
count = 0

# write your for loop here


print(count)

### **Question:**
Write some code, including a for loop, that iterates over a list of strings and creates a single string, html_str, which is an HTML list. For example, if the list is items = ['first string', 'second string'], printing html_str should output:
```
<ul>
<li>first string</li>
<li>second string</li>
</ul>
```
That is, the string's first line should be the opening tag ```<ul>```. Following that is one line per element in the source list, surrounded by ```<li>``` and ```</li>``` tags. The final line of the string should be the closing tag ```</ul>```.

In [ ]:
items = ['first string', 'second string']
html_str = "<ul>\n"  # "\ n" is the character that marks the end of the line, it does
                     # the characters that are after it in html_str are on the next line

# write your code here


print(html_str)

## **Iterating Through Dictionaries with For Loops:**
When you iterate through a dictionary using a for loop, doing it the normal way (for n in some_dict) will only give you access to the keys in the dictionary - which is what you'd want in some situations. 

In other cases, you'd want to iterate through both the keys and values in the dictionary. Let's see how this is done in an example. Consider this dictionary that uses names of actors as keys and their characters as values.

In [1]:
cast = {
           "Joey Tribbiani": "Joey Tribbiani",
           "Monica Geller": "Chandler Bing",
           "Phoebe Buffay": "Mike Hannigan",
           "Ross Geller": "Rachel Green"
       }

Iterating through it in the usual way with a for loop would give you just the keys, as shown below:

In [2]:
for key in cast:
    print(key)

Joey Tribbiani
Monica Geller
Phoebe Buffay
Ross Geller

If you wish to iterate through both keys and values, you can use the built-in method items like this:

In [3]:
for key, value in cast.items():
    print("Partner 1: {}    Partner 2: {}".format(key, value))

Partner 1: Joey Tribbiani    Partner 2: Joey Tribbiani
Partner 1: Monica Geller    Partner 2: Chandler Bing
Partner 1: Phoebe Buffay    Partner 2: Mike Hannigan
Partner 1: Ross Geller    Partner 2: Rachel Green

> items is an awesome method that returns tuples of key, value pairs, which you can use to iterate over dictionaries in for loops.

### **Ouestion:**
You would like to count the number of fruits in your basket. In order to do this, you have the following dictionary and list of fruits. Use the dictionary and list to count the total number of fruits, but you do not want to count the other items in your basket.

In [ ]:
result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

#Iterate through the dictionary

#if the key is in the list of fruits, add the value (number of fruits) to result


print(result)

## **While Loops:**
For loops are an example of definite iteration, meaning that the loops body is run a predefined no of times. A for loop over a list executes the body for each element in the list, a for loop using the range function will execute a no of times specified by the range function.
This deffer from indefinite iteration ie. when a loop repeats an unknown no of times, and ends when some condition is met.
While loop is an example of indefinite iteration. Here is an example:

In [4]:
card_deck = [4, 11, 8, 5, 13, 2, 8, 10]
hand = []

# adds the last element of the card_deck list to the hand list
# until the values in hand add up to 17 or more
while sum(hand)  < 17:
    hand.append(card_deck.pop())

In [5]:
for card in hand:
  print(card)

10
8

This example features two new functions. sum returns the sum of the elements in a list, and pop is a list method that removes the last element from a list and returns it.

### **Components of a While Loop:**
1. The first line starts with the while keyword, indicating this is a while loop.
2. Following that is a condition to be checked. In this example, that's sum(hand) <= 17.
3. The while loop heading always ends with a colon :.
4. Indented after this heading is the body of the while loop. If the condition for the while loop is true, the code lines in the loop's body will be executed.
5. We then go back to the while heading line, and the condition is evaluated again. This process of checking the condition and then executing the loop repeats until the condition becomes false.
6. When the condition becomes false, we move on to the line following the body of the loop, which will be unindented.

The indented body of the loop should modify at least one variable in the test condition. If the value of the test condition never changes, the result is an infinite loop!

### **Question:**
Find the factorial of a number using a while loop.

A factorial of a whole number is that number multiplied by every whole number between itself and 1. For example, 6 factorial (written "6!") equals 6 x 5 x 4 x 3 x 2 x 1 = 720. So 6! = 720.

We can write a while loop to take any given number and figure out what its factorial is.

Example: If number is 6, your code should compute and print the product, 720.

In [ ]:
# number to find the factorial of
number = 6   

# start with our product equal to one
product = 1

# track the current number being multiplied
current = 1

# write your while loop here

    # multiply the product so far by the current number
    
    
    # increment current with each iteration until it reaches number



# print the factorial of number
print(product)

### **Question:**
Now use a for loop to find the factorial!

It will now be great practice for you to try to revise the code you wrote above to find the factorial of a number, but this time, using a for loop. Try it in the code editor below!

In [ ]:
# number to find the factorial of
number = 6   

# start with our product equal to one
product = 1

# write your for loop here



# print the factorial of number
print(product)

## **Question:**
Suppose you want to count from some number start_num by another number count_by until you hit a final number end_num. Use break_num as the variable that you'll change each time through the loop. For simplicity, assume that end_num is always larger than start_num and count_by is always positive.
<br>
<br>

Before the loop, what do you want to set break_num equal to? How do you want to change break_num each time through the loop? What condition will you use to see when it's time to stop looping?
<br>
<br>
After the loop is done, print out break_num, showing the value that indicated it was time to stop looping. It is the case that break_num should be a number that is the first number larger than end_num.
<br>
<br>

In [ ]:
start_num = 5
end_num = 30
count_by = 3

# write a while loop that uses break_num as the ongoing number to 
#   check against end_num


print(break_num)

## **Break and Continue:**
For Loop iterate over every element in a sequence, while loops iterate over every element untill stopping condition is met.

This is sufficient for most purposes, but sometimes we need more precise control over when we need to end a loop.

In these cases we use the *break* keyword.

In [ ]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), 
            ("machine", 120), ("cheeses", 5)]

weight = 0
items = []

In [ ]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), 
            ("machine", 120), ("cheeses", 5)]

weight = 0
items = []

This brings us to our next statement sometimes there will be conditions where instead of breaking the loop we will like to skip one iteration of the loop. In this case we will use the continue keyword.

> break and continue keywords, which can be used in both for and while loops.
- break terminates a loop
- continue skips one iteration of a loop

In [8]:
fruits= ["orange", "strawberry", "apple"]
foods = ["apple", "apple", "burger", "toast"]

fruit_count = 0
for food in foods:
  if food not in fruits:
    print("Not a fruit")
    continue
  fruit_count += 1
  print("Found a fruit!!")

print("Total fruits: ", fruit_count)

Found a fruit!!
Found a fruit!!
Not a fruit
Not a fruit
Total fruits:  2

In [6]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), 
            ("machine", 120), ("cheeses", 5)]

# skips an iteration when adding an item would exceed the limit
# breaks the loop if weight is exactly the value of the limit

weight = 0
items = []

METHOD 1
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  adding machine (120)
current weight: 201
  breaking loop now!

Final Weight: 201
Final Items: ['bananas', 'mattresses', 'dog kennels', 'machine']

METHOD 2
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  skipping machine (120)
current weight: 81
  adding cheeses (5)

Final Weight: 86
Final Items: ['bananas', 'mattresses', 'dog kennels', 'cheeses']

### **Question:**

Write a loop with a break statement to create a string, news_ticker, that is exactly 140 characters long. You should create the news ticker by adding headlines from the headlines list, inserting a space in between each headline. If necessary, truncate the last headline in the middle so that news_ticker is exactly 140 characters long.

> Remember that break works in both for and while loops. Use whichever loop seems most appropriate. Consider adding print statements to your code to help you resolve bugs.

In [ ]:
headlines = ["Local Bear Eaten by Man",
             "Legislature Announces New Laws",
             "Peasant Discovers Violence Inherent in System",
             "Cat Rescues Fireman Stuck in Tree",
             "Brave Knight Runs Away",
             "Papperbok Review: Totally Triffic"]

news_ticker = ""
# write your loop here


print(news_ticker)

## **Zip and Enumerate:**
zip and enumerate are useful built-in functions that can come in handy when dealing with loops.

## **Zip:**
zip returns an iterator that combines multiple iterables into one sequence of tuples. Each tuple contains the elements in that position from all the iterables. For example, printing

```
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), 
            ("machine", 120), ("cheeses", 5)]
```

In [10]:
items = ['bananas', 'mattresses', 'dog kennels', 'machine', 'cheeses']

weights = [15, 24, 42, 120, 5]

print(list(zip(items, weights)))

[('bananas', 15), ('mattresses', 24), ('dog kennels', 42), ('machine', 120), ('cheeses', 5)]

In [15]:
for item, weight in zip(items, weights):
    print("{}: {}".format(item, weight))

bananas: 15
mattresses: 24
dog kennels: 42
machine: 120
cheeses: 5

In addition to zipping two lists together, you can also unzip a list into tuples using an asterisk.

In [12]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), 
            ("machine", 120), ("cheeses", 5)]

items, weights = zip(*manifest)

print(items)
print(weights)

('bananas', 'mattresses', 'dog kennels', 'machine', 'cheeses')
(15, 24, 42, 120, 5)

This would create the same letters and nums tuples we saw earlier.

## **Enumerate:**
enumerate is a built in function that returns an iterator of tuples containing indices and values of a list. You'll often use this when you want the index along with each element of an iterable in a loop.

In [16]:
items = ['bananas', 'mattresses', 'dog kennels', 'machine', 'cheeses']

for i, item in zip(range(len(items)), items):
  print(i, item)

0 bananas
1 mattresses
2 dog kennels
3 machine
4 cheeses

In [18]:
items = ['bananas', 'mattresses', 'dog kennels', 'machine', 'cheeses']

for i, item in enumerate(items):
  print(i, item)

0 bananas
1 mattresses
2 dog kennels
3 machine
4 cheeses

### **Question:**

Use zip to write a for loop that creates a string specifying the label and coordinates of each point and appends it to the list points. Each string should be formatted as ``` label: x, y, z ``` . For example, the string for the first coordinate should be ```F: 23, 677, 4```.

In [ ]:
x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]

points = []
# write your for loop here


for point in points:
    print(point)

## **Question:**
Use zip to create a dictionary cast that uses names as keys and heights as values.

In [ ]:
cast_names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", 
              ,"Ross Geller", "Phoebe Buffay"]

cast_heights = [172, 168, 172, 166, 170]

cast = # replace with your code
print(cast)

## **Question:**
Use zip to transpose data from a 4-by-3 matrix to a 3-by-4 matrix.

In [ ]:
data = ((0, 1, 2), (3, 4, 5), (6, 7, 8), (9, 10, 11))

data_transpose = # replace with your code
print(data_transpose)

## **Question:**
Use enumerate to modify the cast list so that each element contains the name followed by the character's corresponding income in $ 1000. For example, the first element of cast should change from "Barney Stinson" to "Barney Stinson 150".

In [ ]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", 
        "Lily Aldrin", "Marshall Eriksen"]
heights = [150, 100, 40, 0, 80]

# write your for loop here


print(cast)

## **List Comprehensions:**
In Python you can create lists very quickly and consisely with a cool tool called as list comprehension. For exampls from earlier:

In [22]:
cities = ['new york city', 'mountain view', 
                      'chicago', 'los angeles']
capitalized_cities = []

for city in cities:
    capitalized_cities.append(city.title())

print(capitalized_cities)

['New York City', 'Mountain View', 'Chicago', 'Los Angeles']

With the help of list comprehension this can be reduced to:

In [24]:
capitalized_cities = [city.title() for city in cities]

print(capitalized_cities)

['New York City', 'Mountain View', 'Chicago', 'Los Angeles']

List comprehensions allow us to create a list using a for loop in one step.

You create a list comprehension with brackets [], including an expression to evaluate for each element in an iterable. This list comprehension above calls city.title() for each element city in cities, to create each element in the new list, capitalized_cities.

## **Conditionals in List Comprehensions:**
You can also add conditionals to list comprehensions (listcomps). 

Lets look at an example:

In [25]:
squares = []

for x in range(9):
  squares.append(x**2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

writing the same as a list comprehension will be like:

In [28]:
squares = [x**2 for x in range(9)]

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

Now if we want only those numbers that are multiple of 2:

In [29]:
squares = [x**2 for x in range(9) if x % 2 == 0]
print(squares)

[0, 4, 16, 36, 64]

The code above sets squares equal to the list [0, 4, 16, 36, 64], as x to the power of 2 is only evaluated if x is even. If you want to add an else, you will get a syntax error doing this.

In [30]:
squares = [x**2 for x in range(9) if x % 2 == 0 else x + 3]

SyntaxError: ignored

If you would like to add else, you have to move the conditionals to the beginning of the listcomp, right after the expression, like this.

In [31]:
squares = [x**2 if x % 2 == 0 else x + 3 for x in range(9)]

> List comprehensions are not found in other languages, but are very common in Python.

### **Question:**
Use a list comprehension to create a new list first_names containing just the first names in names in lowercase.

In [ ]:
names = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", 
        "Lily Aldrin", "Marshall Eriksen"]

first_names = # write your list comprehension here
print(first_names)

### **Question:**
Use a list comprehension to create a list multiples_3 containing the first 20 multiples of 3.

In [ ]:
multiples_3 = # write your list comprehension here
print(multiples_3)

### **Question:**
Use a list comprehension to create a list of names passed that only include those that scored at least 65.

In [ ]:
scores = {
             "Deku": 70,
             "Bakugo": 35,
             "Tenya": 82,
             "Shoto": 23,
             "All Might": 98
          }

passed = # write your list comprehension here
print(passed)